.chart {
	background-color:f5f5f5;
	margin-top:0px;
	text-align:center;
	border:1px solid #e3e3e3;
	border-radius:5px;
}

.chartStacks {
	background-color:#fff;
	margin-top:0px;
	text-align:center;
	border:0px solid #e3e3e3;
	border-radius:5px;
}

.chartStacksLabel {
	width: 100%;
    text-align: left;
}